---
---

@charset "UTF-8";

@import "devlopr";

/* custom css goes below */

html[data-theme="light"] {
    --bold-color: rgb(0, 0, 0);
    --box-background-color: rgb(249, 249, 250);
    --highlight-color: hsl(0, 0%, 80%);
    --light-border-color: rgb(230, 230, 230);
    --light-text-color: rgb(72, 72, 74);
    --link-color: rgb(0, 112, 201);
    --link-color-visited: hsl(250, 100%, 37%);
    --main-background-color: rgb(255, 255, 255);
    --main-text-color: rgb(51, 51, 51);
    --medium-text-color: hsl(0, 40%, 2%);
    --sidebar-color: hsl(0, 0%, 90%);
    --underline-color: hsl(0, 0%, 60%);
    --social-link-color: #262222;
    --card-background-color: rgb(250, 250, 250);
    --newsletter-background-color: #00000008;
    --button-background-color: #fff;
}
